<strong>Bienvenido a Veguitas Karaoke Bar</strong><br><br>
{{name}}, <br><br>
Gracias por completar tu registro. 
<br><br>
Inicia sesión para pedir tus canciones y poder disfrutar de otros beneficios como nuestro programa de clientes frecuentes.
<br><br>
<a href="{{loginUrl}}">{{loginUrl}}</a>
<br><br>
Atentamente, <br>
Veguitas Karaoke Bar