<strong>Bienvenido a Veguitas Karaoke Bar</strong><br><br>
{{name}}, <br><br>
Gracias por registrarte en Veguitas Karaoke Bar. 
<br><br>
Para confirmar tu cuenta, haz clic en el siguiente enlace:
<br>
<a href="{{confirmationUrl}}">{{confirmationUrl}}</a>
<br><br>
Si no puedes hacer clic en el enlace, copia y pega en enlace en tu navegador.
<br><br>
Cordialmente, <br>
Veguitas Karaoke Bar